body {
	margin-top:0px;
}

h1 {
	font-family: roboto;
	font-style: normal;
	color: white;
  text-align: center;
	font-size: 42px;
	margin: 0px;
}

h6, h4, h2, p, a {
	font-family: roboto;
	font-style: normal;
	color: white;
	text-align: center;
}

th, td {
  font-family: roboto;
  font-style: normal;
  color: white;
  background-color: rgba(0,0,0,0.25);
  text-align: center;
  padding: 5px;
}

.quizWelcome {
  margin-top: 50px;
  text-align: center;
}

#startButton {
  color: white;
  background-color: #880808;
  font-size: 56px;
  text-align: center;
  border: none;
}

#startButton:hover {
  color: white;
  background-color: #EE4B2B;
  font-size: 56px;
  text-align: center;
  border: none;
}

#nextButton {
  position: sticky;
  left: 10px;
  bottom: 10%;
  color: white;
  background-color: #880808;
  font-size: 56px;
  text-align: center;
  border: none;
}

#contButton {
  position: sticky;
  left: 10px;
  bottom: 10%;
  color: white;
  background-color: #880808;
  font-size: 56px;
  text-align: center;
  border: none;
}

.quiz-intro {
  position: relative;
  text-align: center
}

#quizContainer {
  margin: 10px 50px 10px;
  display: flex;
	justify-content: center;
  align-items: center;
  max-width: 100%;
}

#intContainer {
  font-family: "Lucida Console";
  font-size: 36px;
  color: white;
  margin: 10px auto 10px;
}

.intTxt {
  margin: 12px;
}

#question {
  font-family: "Lucida Console";
  font-size: 48px;
  color: white;
  margin: 10px auto 10px;
}

#result {
  font-family: "Lucida Console";
  font-size: 48px;
  color: white;
  margin: 10px auto 10px;
}

/* answer buttons */
.multChoice {
  font-family: "Lucida Console";
  font-size: 24px;
  padding: 20px;
  margin: auto 15px;
}

.background {
  transition: background-color 0.5s ease;
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  min-width:100%;
  min-height:100%;
}

@font-face {
    font-family: 'roboto';
    src: url("../Roboto.ttf");
}

#sfxVolume {
  position: absolute;
  bottom: 35px;
  right: 15px;
  width: 200px;
  height: 8px;
  background: #333;
  border-radius: 5px;
  outline: none;
  margin: 10px 0;
}

label[for="sfxVolume"] {
  position: absolute;
  bottom: 50px;
  right: 15px;
  color: white;
  font-family: roboto;
  font-size: 15px;
  padding-bottom: 5px;
  margin-right: 10px;
  vertical-align: middle;
}

#musVolume {
  position: absolute;
  bottom: 0;
  right: 15px;
  width: 200px;
  height: 8px;
  background: #333;
  border-radius: 5px;
  outline: none;
  margin: 10px 0;
}

label[for="musVolume"] {
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: white;
  font-family: roboto;
  font-size: 15px;
  padding-bottom: 5px;
  margin-right: 10px;
  vertical-align: middle;
}

#studioTag {
  position: absolute;
  bottom: 0;
  padding-bottom: 5px;
}